body {
    background-color: #e5d1b8;
    color: #fff;
    font-family: 'Itim', cursive;
  }
  main {
      width: 100%;
      text-align: center;
  }
  text {
      font-size: .14px;
      fill: #708a81;
  }
  #circ1 {
    fill: #e5d1b8;
  }
  button {
    padding: 15px;
    margin: 10px;
    color: #e5d1b8;
    background-color: #708a81;
    border: none;
    font-family: inherit;
    transition: linear .2s;
    display: block;
  }
  button:hover, button:checked {
      border: 2px solid #708a81;
      background-color: #e5d1b8;
      color: #708a81;
  }

  .btns, svg {
      display: inline;
  }

  #content {
    width: 50%; margin: 1px auto ; 
    display: flex;
  }

  @media (max-width: 991.98px) {
    #content {
      width: 60%; margin: 1px auto ; 
      display: flex;
    }
  }
  @media (max-width:  767.98px) {
    #content {
      width: 70%; margin: 1px auto ; 
      display: flex;
    }
  }
  @media (max-width:  575.98px) {
    #content {
      width: 80%; margin: 1px auto ; 
      display: flex;
    }
  }
